/* DESKTOP  */
@media only screen and (min-width: 992px) {
.header {
    padding-left: 80px;
    padding-right:80px;
    padding-top: 50px;
}
.wrapper img {
    width: 200px;
    height: auto;
}
.button.nav{
    width: 200px;
    height: auto;
    font-size: 25px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-left: 80px;
    padding-right: 80px;
}


.info-header {
    width: 50vw;
    text-align: left;
    padding: 150px 20px 100px 0;
}
.title{
    font-size: 40px;
}
.info-header p {
    text-align: left;
}

.mockups{
    width: 50vw;
}
.principal-content{

}


}