/* DESKTOP  */
@media only screen and (min-width: 992px) {
  .header {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
  }

  .wrapper img {
    width: 200px;
    height: auto;
  }

  .principal-content {
    padding: 0;
    background-image: url("../images/bg-hero-desktop.svg");
    background-color: hsla(193, 100%, 96%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button.nav {
    width: 200px;
    height: auto;
    font-size: 15px;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-left: 80px;
    padding-right: 80px;
  }

  .info-header {
    width: 50vw;
    text-align: left;
    padding: 150px 20px 100px 0;
  }

  .title {
    font-size: 45px;
  }

  .info-header p {
    text-align: left;
  }

  .mockups {
    width: 50vw;
  }

  .button:hover {
    cursor: pointer;
    transition: transform 2s ease;
    opacity: 0.5;
  }

  .features {
    padding-left: 110px;
    padding-right: 110px;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 80px;
    padding-right: 80px;
  }

  .card.img-mid {
    flex-direction: row;
  }

  .card img {
    width: 25vw;
    height: auto;
  }

  .description {
    padding: 90px 200px 0 0;
  }

  .description h2 {
    text-align: left;
    padding: 0;
    font-size: 30px;
  }

  .description p {
    text-align: left;
    padding: 15px 0 0 0;
  }

  .description.mid {
    padding: 90px 0 0 200px;
  }

  .suscribe {
    padding: 40px 0px;
    margin: 60px auto 0 auto;
  }

  .subs-h2 {
    font-size: 28px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px 80px 100px 80px;
  }

  .footer-left {
    flex: 1;
  }

  .info-user p {
    font-size: 15px;
  }

  .footer-mid {
    padding-top: 25px;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  ul {
    column-count: 2;
    column-gap: 100px;
    font-size: 15px;
  }

  .footer-right {
    flex: 1;
    padding-top: 50px;
  }

  .copyright {
    display: flex;
    flex-direction: column;
  }

  .attribution {
    margin-top: 115px;
  }

  .button.bottom {
    padding: 20px 70px;
  }
}
