/*Font - Poppins */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/*Font - Open sans */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: transparent;
  align-items: center;
}

.button {
  border-radius: 2.5em;
  border: none;
  font-weight: 700;
}

.button.nav {
  background-color: white;
  color: hsl(192, 100%, 9%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
}

.button.main {
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0px 2px 10px #fbc4f4;
  color: white;
  padding: 15px 50px;
}

.button.bottom {
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0px 2px 10px rgba(222, 228, 228, 255);
  color: white;
  padding: 15px 50px;
}
.button:active{
  cursor: pointer;
  transition: transform 2s ease;
  opacity: 0.5;
}
/* .button:hover{
  cursor: pointer;
  opacity: 0.5;
} */

.mockups {
  padding: 40px 0px;
}

h1,
h2 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.wrapper img {
  width: auto;
  height: 20px;
}

.principal-content {
  padding: 0;
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: hsla(193, 100%, 96%);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 90%;
  text-align: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 80vw;
}

.title {
  line-height: 1.6;
  margin-bottom: 30px;
  font-size: 30px;
  color: hsl(192, 100%, 9%);
}

.text {
  color: hsl(192, 100%, 9%);
  padding-bottom: 20px;
  line-height: 1.6;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  text-align: center;
  padding: 36px;
  /* border: 2px solid; */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.card img {
  width: 100%;
}

.description {
  padding: 48px 5px 24px 5px;
}

.description h2 {
  padding: 30px;
  color: hsl(192, 100%, 9%);
  font-size: 20px;
}

.description p {
  color: gray;
  line-height: 1.5;
  font-size: 18px;
}

/* Ultimo text
.text-break {
  padding: 0 30px;
}
*/

.features {
  padding: 54px 16px 0px 16px;
}

.features-subs {
  height: 310px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  bottom: -25px;
}

.suscribe {
  text-align: center;
  padding: 36px 0;
  /* border: 2px solid; */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  /* margin-bottom: -30px; */
  top: 50%;
  right: 5%;
  left: 5%;
  position: absolute;
  /* z-index: 2; */
  background-color: white;
  margin: 30px 0 0 0;
}

.subs-h1 {
  font-size: 18px;
  padding: 10px;
  color: hsl(192, 100%, 9%);
}

.sub-btn {
  margin-top: 30px;
}

/*FOOTER */
.footer {
  background-color: hsl(192, 100%, 9%);
  padding: 150px 20px 20px 20px;
  width: 100vw;
  color: #fff;
  bottom: 0;
  z-index: -1;
}

.footer img {
  width: 22px;
}

.footer p,
ul {
  color: white;
}

.info-user {
  display: flex;
  align-items: start;
  gap: 30px;
  padding-top: 25px;
}

.footer ul,
li {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 10px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px 7px;
  border: 1px solid #fff;
  margin-right: 15px;
}

.sm-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}


/* 
### Primary

- Pink: hsl(322, 100%, 66%)

### Neutral

- Very Pale Cyan: hsl(193, 100%, 96%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Grayish Blue: hsl(208, 11%, 55%) */